@import url(../../../stylesheets/application.css);

/* add a logo in the header */
#top-menu {
	background: #6C8541 ;
}
#header {
    background-color: #93B05E;
    background-image : url('../images/logo_-_website_2009.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    height: 105px;
}

#header h1 {
    text-indent:180px;
}

/* move the project menu to the right */
a, a:link, a:visited {
    color:black;
}
a.hover {
    color:#6C8541;
}

table.list th {
    background-color:#6C8541;
    color:white;
}
table.list th a {
    color:white;
}

#main-menu li a:hover {
    background-color: #6C8541;
}

/* Add some text to make it obvious to use AD */
div#login-form::before {
    content: "LCC Staff please login using your active directory login.";
}

/* CSS Bodges to make things disappear that dont seem to be options in the main interface */

a.help, a.register {
    display: none;
}

div.projects.box li {
    color: #f6f6f6;
}

div#login-form a {
    display: none;
}

p#attachments_form {
    display: none;
}

p#watchers_form {
    display: none;
}

div.jstElements {
    display: none;
}

input[name="continue"] {
    display: none;
}

form#issue-form > a {
    display: none;
}